<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="AutomationSuite" parallel="none">

    <listeners>
        <listener class-name="utilities.ExtentListener"/>
    </listeners>

    <test name="Cucumber Automation Tests">
        <classes>
            <class name="runner.RegisterRunner"/>
        </classes>
    </test>

</suite>
